body {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
}

footer a {
  color: black;
}
textarea {
  min-height: 400px;
}

:root {
  --background-color: #d8e4dd;
  --text-color: #000000;
  --contribuitor-color: rgb(177, 177, 177);
  --button-background-color: #333;
  --button-text-color: #fff;
  --button-background-hover: #000;
}
* {
  border-color: #000000;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}
[data-theme="dark"] {
  --background-color: #23272a;
  --text-color: #fff;
  --button-background-color: #dcdcdc;
  --contribuitor-color: rgb(56, 56, 56);
  --button-text-color: black;
}

.btn {
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  margin: 20px;
  background-color: var(--button-background-color);
  border: 3px solid var(--button-background-color);
  color: var(--button-text-color);
  transition: background 300ms;
  transition: color 300ms;
}

.btn:hover {
  background: var(--background-color);
  color: var(--text-color);
}

#output-code{
text-align: left;
  color:rgb(48, 252, 48);
  height: 30em;
  width: 40em;
  background-color: #000;
  hyphens: none;
}
