@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

code,
textarea {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
}

footer a,
p,
h1 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  color: #f0f0f0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
}

textarea {
  min-height: 400px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #212529;
}

.btn {
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  margin: 20px;
  background-color: #212529;
}

#output-code {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 50vw;
  width: 58vw;
  background-color: #000;
  hyphens: none;
  font-size: 1.5vw;
}

#api-status {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 20vw;
  width: 30vw;
  background-color: #000;
  hyphens: none;
  font-size: 1.5vw;
}
