@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

code,
textarea {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
}

footer a,
p,
h1 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  color: #f0f0f0;
  align-items: center;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
}


body {
  display: flex;
  flex-direction: column;
  background-color: #212529;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 4;
  background-color: #212529;
  color: #ffb5da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  width: 200px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  margin: 20px;
  background-color: #212529;
}

#sel {
  color: #000;
}

#output-code {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 50vw;
  width: 58vw;
  background-color: #000;
  hyphens: none;
  font-size: 1.5vw;
}

#api-status {
  text-align: left;
  color: rgb(48, 252, 48);
  height: 20vw;
  width: 30vw;
  background-color: #000;
  hyphens: none;
  font-size: 1.5vw;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212529;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb5da;
  border-radius: 5px;
}

#command-display,#vim-mode  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  margin-left: 10px;
}

h2{
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  color: #212529;
}